<div class="login-container">
    <div class="login-box">
  
      <div class="login-header">
        <img src="assets/images/logo_cbna.png" class="logo-cbna" alt=""/>
        <p>{{title}}</p>
      </div>
      
      <hr class="horizontal-bar" />
  
      <form [formGroup]="loginForm" (ngSubmit)="nativeLogin()">
        <div class="login-form">
          <div class="form-group">
            <label for="email">Email</label>
            <input 
              type="email" 
              id="email" 
              formControlName="email"
              placeholder="Entrer votre email"
              [class.invalid-input]="isFieldInvalid('email')"
            >
            <div class="error-message" *ngIf="isFieldInvalid('email')">
              <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
                L'email est requis
              </mat-error>
              <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
                Format d'email invalide
              </mat-error>
            </div>
          </div>
          
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input 
              type="password" 
              id="password" 
              formControlName="password"
              placeholder="Entrer votre mot de passe"
              [class.invalid-input]="isFieldInvalid('password')"
            >
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              Le mot de passe est requis.
            </mat-error>
          </div>
        </div>
        
        <button 
          type="submit" 
          class="login-button"
          [disabled]="loginForm.invalid || isLoading"
        >
          {{ isLoading ? 'Connexion...' : 'SE CONNECTER' }}
        </button>
      </form>

      <div class="OR">
        <p>OU</p>
      </div>
      
      <button mat-fab extended type="submit" class="login-button">
        <img src="assets/images/google-logo.png" class="google-logo" alt="" />
        SE CONNECTER AVEC GOOGLE
      </button>
      <!-- <div id="google-signin-button" class="login-button"></div> -->
    </div>
  </div>
    
  