<div class="form-container">
    <button class="close-btn" (click)="onClose()">✖</button>
    <h2 class="form-title">{{ isEditMode ? 'Modifier' : 'Ajouter' }} une action</h2>
    <form [formGroup]="actionForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label class="form-label" for="actionNum">N° action :</label>
        <input class="form-input" id="actionNum" type="number" step="0.01" formControlName="actionNum" placeholder="(format 1.11)" />
        <small *ngIf="actionForm.get('actionNum')?.invalid && actionForm.get('actionNum')?.touched">
          Veuillez saisir un numéro d'action valide.
        </small>
      </div>
  
      <div class="form-field">
        <label class="form-label" for="name">Nom action :</label>
        <input class="form-input" id="name" type="text" formControlName="name" />
        <small *ngIf="actionForm.get('name')?.invalid && actionForm.get('name')?.touched">
          Le nom de l'action est requis.
        </small>
      </div>
  
      <div class="form-field">
        <label class="form-label" for="description">Description de l'action :</label>
        <input class="form-input" id="description" type="text" formControlName="description" />
      </div>
    
      <div class="form-actions">
        <button class="validate-btn" type="submit" [disabled]="!actionForm.valid || isSubmitting">
          {{ isSubmitting ? 'Création...' : 'Valider' }}
        </button>
      </div>
    </form>
</div>
  
