.add-action-container {
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  label {
    flex: 0 0 150px;
    font-weight: bold;
  }
  
  input,
  textarea {
    flex: 1;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
    height: 60px;
  }
  
  button {
    display: flex;
    align-items: center;
    margin: 20px auto 0;
  }
  