<div class="add-action-container mat-elevation-z8">
    <h2>Ajouter une action</h2>
  
    <form [formGroup]="actionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="actionNumber">Numéro action :</label>
        <input id="actionNumber" matInput formControlName="actionNumber" />
      </div>
  
      <div class="form-group">
        <label for="actionName">Nom action :</label>
        <input id="actionName" matInput formControlName="actionName" placeholder="Saisir le nom de l'action" />
      </div>
  
      <div class="form-group">
        <label for="actionDescription">Description action :</label>
        <textarea id="actionDescription" matInput formControlName="actionDescription" placeholder="Saisir la description"></textarea>
      </div>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="!actionForm.valid">
        <mat-icon>check</mat-icon> Valider
      </button>
    </form>
</div>
  