.dialog-title {
    text-align: center;
    font-size: 20px;
    color: #2f4050;
}
  
.dialog-content {
    text-align: left;
    font-size: 16px;
}

.dialog-actions {
    display: flex;
    justify-content: center; 
    gap: 100px; 
}

.action-bouton-confirm {
    min-width: 80px; 
    background-color: #2f4050;
    color: white;
}
  
.action-bouton-cancel {
    min-width: 80px; 
    background-color: white;
    color: #2f4050;
}
