
.headline{
  display: flex;
  justify-content: space-between;
}

.selectors{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-headline-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-headline-control:hover {
  background-color: #e0e0e0;
}

 .calendar-headline-control select {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.selectors .calendar-headline-control {
  padding-right: 10px;
  padding-left: 10px;
}

