<div class="expense-container">
    <a (click)="openAddExpenseDialog()">
      <mat-icon class="project-expense" matTooltip="Ajouter un frais de mission" matTooltipPosition="right" >
      add_circle_outline</mat-icon> 
    </a>  
    <div class="table-wrapper" *ngIf="dataSource.data.length > 0">
      <table class="expense-table mat-elevation-z8" mat-table [dataSource]="dataSource">
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="object-cell">Objet</th>
          <td mat-cell *matCellDef="let element" class="object-cell">
            <span class="truncate" matTooltip="{{element.name}}" matTooltipPosition="above">{{element.name}}</span>
        </td>
        </ng-container>
    
        <ng-container matColumnDef="comment" >
          <th mat-header-cell *matHeaderCellDef class="comment-cell">Commentaire frais de mission</th>
          <td mat-cell *matCellDef="let element" class="comment-cell">
            <span class="truncate" matTooltip="{{element.comment}}" matTooltipPosition="above">{{element.comment}}</span>
        </td>
        </ng-container>
        
        <ng-container matColumnDef="amount" >
          <th mat-header-cell *matHeaderCellDef class="amount-cell"> Montant</th>
          <td mat-cell *matCellDef="let element" class="amount-cell">
          {{element.amount | number: '1.2-2' }} €
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon 
              class="mission-action"
              matTooltip="Modifier" matTooltipPosition="above"
              (click)="openEditExpenseDialog(element)"
              style="margin-right: 10px;">
              edit
            </mat-icon>
        
            <mat-icon 
              class="mission-action"
              (click)="deleteExpenseById('supprimer ce frais de mission', element)"
              matTooltip="Supprimer" matTooltipPosition="above">
              delete
            </mat-icon>
          </td>
        </ng-container>
                        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="element-row"></tr>
      </table>
    </div>

    <div class="empty-container" *ngIf="dataSource.data.length === 0">
      <p>Aucun frais de mission ajouté.</p> 
    </div>
</div>