.expense-container{
    max-height: 300px;
    min-height: 80px;
}

.add-expense-space{
    height: 2em;
    min-height: 2em;
}

.add-expense{
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 3em 0 0;
    height: 2em;
    min-height: 2em;
}
 
.expense-table {
    overflow-y: auto;
    border-collapse: collapse; 
    border-spacing: 0; 

    th, td {
        padding: 8px; 
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.comment-cell{
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 23em; 
    max-width: 23em;
}

.amount-cell {
    width: 8em; 
    max-width: 8em;
}

.object-cell {
    width: 12em; 
    max-width: 12em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr.element-row:not(.expanded-row):hover {
background: whitesmoke;
}

.project-expense{
    cursor: pointer;
    color: #2f4050;
    margin-right: 5px;
}

.empty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #2f4050;
}

.mission-action{
    cursor: pointer;
    color: #2f4050;
}
  



  