
.success-toast {
  background-color: #2f4050 !important;
  color: white !important;
  font-size: 16px;
  text-align: center;
}

.error-toast {
  background-color: #f44336 !important;
  color: white !important;
  font-size: 16px;
  text-align: center;
}


.mat-mdc-snack-bar-container {
  &.blue-snackbar {
      --mdc-snackbar-container-color: #2f4050 !important;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
  }
}

