


/* ✅ Style pour un message de succès */
.success-toast {
  background-color: #2f4050 !important; /* Vert */
  color: white !important;
  font-size: 16px;
  text-align: center;
}

/* ❌ Style pour un message d'erreur */
.error-toast {
  background-color: #f44336 !important; /* Rouge */
  color: white !important;
  font-size: 16px;
  text-align: center;
}

.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mdc-snackbar-container-color: #2f4050 !important;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

