/* You can add global styles to this file, and also import other style files */

:root {
  /* CBNA Colors */
  --primary: #125699;
  --light-color: #d7e2ec;
  --dark-color: #125699;
  --blue-grey: #87a1bb;
  /* Layout */
  --height-menu-lg: 60px;
  --header-color: #d7e2ec;
  /* Neutral Colors */
  --white: #ffffff;
  --black: #000000;
  --grey: #a7a6a6;
  --light-grey: #f5f5f5;
  /* Status Colors */
  --color-alert: #f44336;
  --color-warn: #ffc107;
  --color-info: #17a2b8;
  --color-success: #49b163;
  /* Effects */
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --hover: rgba(255, 255, 255, 0.1);
  /* Spacing */
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;
  /* Layout */
  --sidebar-width: 60px;
}

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--light-grey);
}

/* Status classes */
.status-success {
  color: var(--color-success);
}

.status-warn {
  color: var(--color-warn);
}

.status-alert {
  color: var(--color-alert);
}

.status-info {
  color: var(--color-info);
}

/* Utility classes */
.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}

.bg-light {
  background-color: var(--light-color);
}

.shadow {
  box-shadow: var(--box-shadow);
}
