<mat-toolbar class="header sticky-header">
  <div class="logo-cbna">
    <img src="assets/images/logo_cbna.png"  alt=""/>
  </div>
  <span class="title">{{ currentTitle }}</span>
  <div class="user-infos">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
      <img src="assets/images/logo_cbna.png" alt="User Image" class="user-avatar" />
    </button>
  
    <mat-menu #userMenu="matMenu">
      <div class="user-profile">
        <img src="assets/images/logo_cbna.png" alt="User Image" class="user-avatar-large" />
        <p class="user-name">{{ userName }}</p>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item>
      <mat-icon class="menu-icon">settings</mat-icon>Paramètres</button>
      <button mat-menu-item *ngIf="isAdmin">
        <mat-icon class="menu-icon">sync</mat-icon>Changer d'agent
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon class="menu-icon">exit_to_app</mat-icon>Déconnexion
      </button>
    </mat-menu>
  </div>
  
</mat-toolbar>

<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <div class="sidenav-content">
        <a mat-icon-button class="icon-container" routerLink="/accueil/saisie-des-temps" matTooltip="Saisie des temps" matTooltipPosition="right" (click)="updateTitle('Saisie des temps')">
          <mat-icon>schedule</mat-icon>
        </a>
        <a mat-icon-button class="icon-container" routerLink="/accueil/liste-des-projets" matTooltip="Liste des projets" matTooltipPosition="right" (click)="updateTitle('Liste des projets')">
          <mat-icon>description</mat-icon>
        </a>
        <a mat-icon-button class="icon-container" routerLink="/accueil/frais-de-deplacement" matTooltip="Frais de déplacement" matTooltipPosition="right" (click)="updateTitle('Frais de déplacement')">
          <mat-icon>euro_symbol</mat-icon>
        </a>
        <a mat-icon-button class="icon-container" routerLink="/accueil/telechargement" matTooltip="Téléchargement" matTooltipPosition="right" (click)="updateTitle('Téléchargement')" *ngIf="isAdmin">
          <mat-icon>download</mat-icon>
        </a>
      </div>
    </mat-sidenav>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
