.header {
  background-color: #ffffff;
  border: 3px solid #2f4050;
  padding: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 60px; 
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.logo-cbna {
  display: flex;
  align-items: center;
}

.logo-cbna img {
  height: 55px;
  width: 80px;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #2f4050;
}

.user-infos {
  display: flex;
  align-items: center;
}

.sidenav-container {
  flex: 1; 
  overflow: hidden; 
  border: 3px solid #2f4050;
}

.sidenav {
  width: var(--sidebar-width);
  background-color: #f4f4f4;
  border: 3px solid #2f4050;
  overflow: hidden;
}

.sidenav-content {
  display: flex; 
  flex-direction: column;
  gap: 24px;
  padding: 24px 24px;
  overflow: hidden;
}

      
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.main-content {
  padding: 0.5em 1em 1em;
  overflow-y: hidden;
  background: white;
  flex: 1;
  box-sizing: border-box;
  height: 100%;
}

.icon-container {
  color: #2f4050;
  display: flex;
  align-items: center;
  position: relative; 
}

.icon-container a:hover {
  background-color: var(--hover-color, #d0d0d0); 
}

.sidenav-content a:hover {
  background-color: var(--hover-color, #d0d0d0); 
  border-radius: 5px; 
}
