.header {
  background-color: white;
  border: 3px solid #2f4050;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-cbna {
  display: flex;
  align-items: center;
}

.logo-cbna img {
  height: 2.95em;
  width: 4em;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #2f4050;
}

.user-infos {
  display: flex;
  align-items: center;

  .user-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
  }

  .user-avatar {
    height: 52px;
    width: 76px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.user-profile {
  display: flex;
  align-items: center;
  flex-direction: column;

  .user-avatar-large {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }
}

.menu-icon {
  cursor: pointer;
  color: #2f4050;
}

.sidenav-container {
  flex: 1;
  overflow: hidden;
  border: 3px solid #2f4050;
}

.sidenav {
  width: var(--sidebar-width);
  background-color: #f4f4f4;
  border-right: 3px solid #2f4050;
  overflow: hidden;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.main-content {
  padding: 1em;
  overflow-y: auto;
  background: white;
  flex: 1;
}

.icon-container {
  color: #2f4050;
  display: flex;
  align-items: center;
  position: relative;
}

.icon-container a:hover {
  background-color: var(--hover-color, #d0d0d0);
}

.sidenav-content a:hover {
  background-color: var(--hover-color, #d0d0d0);
  border-radius: 5px;
}

.user-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
}


.user-menu-item span {
  flex: 1;
  text-align: center;
}

.user-modify-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

.user-chevron-right{
  align-items: flex-end;

}

.list-users-container{
  height: 30em;
  width: 280px;
}

.password-container{
  height: 17em;
  width: 243px;
}


@media screen and (max-width: 768px) {
  .sidenav {
    width: var(--sidebar-width);
  }

  .sidenav-content {
    padding-top: 10px;
  }
  .logo-cbna img {
    height: 2.5em;
    width: 3.5em;
  }

  .user-avatar {
    height: 45px;
    width: 57px;
  }
}
@media screen and (max-width: 480px) {
  .sidenav {
    width: var(--sidebar-width);
  }

  .sidenav-content {
    padding-top: 10px;
  }
  .logo-cbna img {
    height: 2.5em;
    width: 3.5em;
  }

  .user-avatar {
    height: 45px !important;
    width: 57px !important;
  }
}

