.header {
  background-color: #ffffff;
  border: 3px solid #2f4050;
  padding: 0px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 60px; 
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #2f4050;
}

.sidenav-container {
  flex: 1; 
  overflow: hidden; 
  border: 3px solid #2f4050;
}

.sidenav {
  width: var(--sidebar-width);
  background-color: #f4f4f4;
  border: 3px solid #2f4050;
  overflow: hidden;
}

.sidenav-content {
  display: flex; 
  flex-direction: column;
  gap: 24px;
  padding: 24px 24px;
  overflow: hidden;
}

      
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.main-content {
  padding: 0.5em 1em 1em;
  overflow-y: hidden;
  background: white;
  flex: 1;
  box-sizing: border-box;
  height: 100%;
}

.icon-label {
  opacity: 0; 
  position: fixed; 
  left: 60px;
  top: auto;
  background-color: #f4f4f4; 
  color: black; 
  padding: 5px 10px; 
  border-radius: 4px; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2000; 
  pointer-events: none; 
}

.icon-container {
  color: #2f4050;
  display: flex;
  align-items: center;
  position: relative; 
}

.icon-container:hover .icon-label {
  opacity: 1;
  transform: translatey(10); 
}

.icon-container a:hover {
  background-color: var(--hover-color, #d0d0d0); 
}

.sidenav-content a:hover {
  background-color: var(--hover-color, #d0d0d0); 
  border-radius: 5px; 
}
