
<div class="download-container">
  <div class="loading-shade-download" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <section class="table-container mat-elevation-z8" tabindex="0">  
      <ng-container *ngIf="dataSource.data.length > 0; else emptyState">
        <mat-form-field>
          <mat-label>Rechercher</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Saisir la valeur à rechercher">
        </mat-form-field>
      
        <table mat-table [dataSource]="dataSource" class="download-table" multiTemplateDataRows matSort>
  
          <ng-container matColumnDef="selection">
            <th mat-header-cell *matHeaderCellDef class="selection-cell"> Sélection
            </th>
            <td mat-cell *matCellDef="let row" class="selection-cell">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="toggleSelection(row)"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="code-cell" mat-sort-header> N° projet </th>
            <td mat-cell *matCellDef="let element" class="code-cell"> {{element.code}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom projet </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="toggleSelection(row)">
          </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="sticky-paginator"></mat-paginator>
      </ng-container> 
  
      <ng-template #emptyState>
        <div class="empty-container" *ngIf="!isLoadingResults && !isError">
          <p>Aucun projet trouvé.</p>
        </div>
        <div class="empty-container" *ngIf="isError && !isLoadingResults">
          <p>Une erreur est survenue lors de la récupération des projets.</p>
        </div>
      </ng-template>
  </section>
  <div class="download-project-button">
    <button mat-elevation-z8 class="download-project" (click)="exportProjectData('saisie_de_temps_des_agents')" [disabled]="(isButtonDisabled$ | async) === false" matTooltip="Sélectioner d'abord un projet" matTooltipPosition="above">
      Télécharger les temps 
     </button>
  </div>
</div>


  