<div class="project-action-container mat-elevation-z8">
  <div class="add-action">
    <a>
      <mat-icon class="project-action" matTooltip="Ajouter une action" matTooltipPosition="left" (click)="createAction()">
      add_circle_outline</mat-icon>
    </a>  
  </div>
  
  <table class="action-table" mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
    <p>{{dataSource}}</p>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox> Name 
      </th>
      <td mat-cell *matCellDef="let element" class="name-cell">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="toggleSelection(element)"
                      [checked]="selection.isSelected(element)"
                      [aria-label]="checkboxLabel(element)">
        </mat-checkbox>
        {{element.id_action}} {{element.name}}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element" class="description-cell">
      <span class="truncate" matTooltip="{{element.description}}" matTooltipPosition="above">{{element.description}}</span>
    </td>
    </ng-container>
     
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="Actions">Actions</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="project-action" (click)="editAction(element)">edit</mat-icon>
        <mat-icon class="project-action" (click)="deleteActionById('supprimer cette action', element.id_action)">delete</mat-icon>
      </td>
    </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="element-row"></tr>
  </table>

  <div class="empty-container" *ngIf="dataSource.data.length === 0">
    <p>Aucune action trouvée pour ce projet.</p>
  </div>
</div>

  