.password-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    padding: 0 20px;
}

.form-title-password{
    color: #2f4050;
    font-weight: bold;
}