.calendar-container {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 60%;
}


.calendar-headline {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 0 20px;
}

.calendar-headline-month {
  font-weight: 600;
}

.calendar-headline-controls {
  display: flex;
}

.calendar-headline-control {
  cursor: pointer;
}

.calendar-headline-control:hover {
  text-decoration: underline;
}

.calendar-headline-control-today {
  margin: 0 10px;
}

.calendar-weeks-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 12px;
  margin-bottom: 10px;
  color: rgb(81, 81, 81);
}

.calendar-weeks-grid-cell {
  text-align: center;
}

.calendar-grid-cell-inactive {
  color: #9e9e9e;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  border-top: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
}

.calendar-grid-cell {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  cursor: pointer;
}

.calendar-grid-cell:hover {
  background: #9ba3bf;
}

.calendar-grid-cell-active {
  background: #9ba3bf;
}

.schedule {
  margin-left: 10px;
}

.schedule-headline {
  font-weight: 600;
  margin-bottom: 30px;
}


.calendar-grid-cell {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  cursor: pointer;
}


.calendar-grid-cell:hover {
  background: #9ba3bf;
}

.calendar-grid-cell-active {
  background: #9ba3bf;
}

.calendar-grid .calendar-grid-cell:nth-child(7n-1),
.calendar-grid .calendar-grid-cell:nth-child(7n) {
  background-color: #f2f2f2;
  color: #0015ff;
  font-weight: bold;
}

.calendar-grid .calendar-grid-cell:nth-child(7n-1):hover,
.calendar-grid .calendar-grid-cell:nth-child(7n):hover {
  background-color: #dcdcdc;
}


.calendar-grid .calendar-grid-cell:nth-child(7n-1).calendar-grid-cell-inactive,
.calendar-grid .calendar-grid-cell:nth-child(7n).calendar-grid-cell-inactive {
  color: #b0b0b0;
}

.calendar-grid-cell-today {

  font-weight: bold;
  color: #359939;
}
.calendar-grid-cell-current-week {
  background-color: #faff6b;
  font-weight: bold;
}

.calendar-grid-cell-is-holiday {
  color: red;
  font-weight: bolder;
}
.headline{
  display: flex;
  justify-content: space-between;
}

.selectors{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.calendar-headline-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-headline-control:hover {
  background-color: #e0e0e0;
}

 .calendar-headline-control select {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.selectors .calendar-headline-control {
  padding-right: 10px;
  padding-left: 10px;
}


.table-container {
  max-height: 390px;
  overflow-y: auto;
  position: relative;
}

  thead tr {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    border: 1px solid #ddd;
  }
  tbody .daily-total-row {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1;
    font-weight: bold;

  }

.time-sheet {
  position: relative;
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    border: 1px solid #ddd;
  }


  .project-name {
    background-color: #175394;
    color: white;
    font-weight: bold;
  }


  .action-name {
    font-weight: bold;
    background-color: #f0f8ff;
  }

  input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }


  .weekend-input {
    background-color: #f8d7da;
  }

  .today {
    background-color: #d4edda;
  }

  .fixed-name {
    font-style: italic;
  }

  th, td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

}
