.container{
  max-height: fit-content;

}
.calendar-container {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 70%;
}

.calendar-headline {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 0 20px;
}

.calendar-headline-month {
  font-weight: 600;
}

.calendar-headline-controls {
  display: flex;
}

.calendar-headline-control {
  cursor: pointer;
}

.calendar-headline-control:hover {
  text-decoration: underline;
}

.calendar-headline-control-today {
  margin: 0 10px;
}

.calendar-weeks-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 12px;

  color: rgb(81, 81, 81);
}

.calendar-weeks-grid-cell {
  text-align: center;
}


.calendar-grid-cell-inactive {
  color: #9e9e9e;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  border-top: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
}

.calendar-grid-cell {
  display: inline-flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  cursor: pointer;

}

.calendar-grid-cell:hover {
  background: #9ba3bf;
}

.calendar-grid-cell-active {
  background: #9ba3bf;
}

.schedule {
  margin-left: 10px;
}

.schedule-headline {
  font-weight: 600;
  margin-bottom: 30px;
}


.calendar-grid-cell:hover {
  background: #9ba3bf;
}

.calendar-grid-cell-active {
  background: #9ba3bf;
}

.calendar-grid .calendar-grid-cell:nth-child(7n-1),
.calendar-grid .calendar-grid-cell:nth-child(7n) {
  background-color: #f2f2f2;
  color: #0015ff;
  font-weight: bold;
}

.calendar-grid .calendar-grid-cell:nth-child(7n-1):hover,
.calendar-grid .calendar-grid-cell:nth-child(7n):hover {
  background-color: #dcdcdc;
}


.calendar-grid .calendar-grid-cell:nth-child(7n-1).calendar-grid-cell-inactive,
.calendar-grid .calendar-grid-cell:nth-child(7n).calendar-grid-cell-inactive {
  color: #b0b0b0;
}

.calendar-grid-cell-today {

  font-weight: bold;
  color: #359939;
}
.calendar-grid-cell-current-week {
  background-color: #faff6b;
  font-weight: bold;
}

.calendar-grid-cell-is-holiday {
  color: red;
  font-weight: bolder;
}
.headline{
  display: flex;
  justify-content: space-between;
}



/* CSS selector*/

.selectors{
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.calendar-headline-controls{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top:26px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  max-width: 100%;
}

.select-months {
  min-width: 80px;
  width: 100%;
}
.select-years {
  min-width: 80px;
  width: 100%;
}
 .select-weeks {
  min-width: 80px;
  width: 100%;
  min-width: fit-content;
}
.option-weeks, .option-months, .option-years{
  font-size: 12px;
  padding: 0%;
  padding-left: 3px;
  margin: 0px;
  height: 0px;
  min-width: fit-content;
}


.calendar-headline-control:hover {
  background-color: #e0e0e0;
  text-decoration: none;
}

 .calendar-headline-control select {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.selectors .calendar-headline-control {
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

/* CSS time Table */

.table-container {
  max-height: 450px;
  overflow-y: auto;
  position: relative;
  min-height: 450px;

}

  thead tr {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    border: 1px solid #ddd;
  }


  tbody .daily-total-row {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 2;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }


.time-sheet {
  position: relative;
  max-height: fit-content;

  table {
    width: 100%;
    border-collapse: collapse;
    min-height: 450px;

  }

  .project-name {
    background-color: #2f4050;
    color: white;
    font-weight: bold;
  }


  .action-name {
    font-weight: bold;
    background-color: #f0f8ff;
  }

  input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }


  .weekend-input {
    background-color: #f8d7da;
  }

  .today {
    background-color: #d4edda;
  }

  .fixed-name {
    font-style: italic;
  }

  th, td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
    border: 1px solid #ddd;
  }
}
thead th, .total-year, .total-week {
  text-align: center;
  vertical-align: middle;
}
.no-projects-message{
  height: 95px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2f4050;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -80px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.project-col,
.project-name,
.action-name,
.fixed-action-name {
  position: sticky;
  left: 0;
  background: white;
  z-index: 2;

}


/* Media Queries for Mobile Devices */
@media (max-width: 768px) {

  .calendar-container {
    width: 100%;
    flex-direction: column;
  }

  .calendar-headline-controls {
    font-size: 1.8rem;
    width: -webkit-fill-available;
    max-width: inherit;
    margin: 20px auto;

  }

  .calendar-headline-control {
    font-size: 1rem;
  }

  .calendar-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .calendar-grid-cell {
    padding: 4px;
  }

  .calendar-grid-cell-active {
    background: #9ba3bf;
  }

  .table-container {
    min-height: 250px;
  }

  .time-sheet {
    max-height: fit-content;
    font-size: 0.9rem;
  }

  th, td {
    padding: 6px;
  }
  .selectors{
    display: block;
    align-items: center;
    padding: 2px;
  }
}

@media (max-width: 480px) {
  .project-name, .action-name{
    position: sticky;
    z-index: 2;
  }

  .calendar-headline-controls {
    font-size: 1.6rem;
    width: -webkit-fill-available;
    max-width: inherit;
    margin: 20px auto;
  }

  .calendar-grid-cell {
    padding: 3px;
    font-size: 0.9rem;
  }

  .calendar-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .calendar-grid-cell-active {
    background: #9ba3bf;
  }

  .table-container {
    min-height: 200px;
  }
  .selectors{
    display: block;
    align-items: center;
    padding: 2px;
  }
}
