
<div class="container">
  <div class="calendar-container">
    <div class="full-calendar">
      <div class="headline">
        <div class="calendar-headline-month">
          {{ firstDayOfActiveMonth.value.monthShort }} {{ firstDayOfActiveMonth.value.year }}
        </div>
        <div class="calendar-headline-control calendar-headline-control-today" (click)="goToToday()">
          Aujourd'hui
        </div>
      </div>

      <div class="calendar-weeks-grid">
        <div *ngFor="let weekDay of weekDaysNames" class="calendar-weeks-grid-cell">
          {{ weekDay }}
        </div>
      </div>

      <div class="calendar-grid">
        <div
          *ngFor="let dayOfMonth of daysOfMonth"
          [ngClass]="{
            'calendar-grid-cell': true,
            'calendar-grid-cell-active': activeDay.value?.toISODate() === dayOfMonth.toISODate(),
            'calendar-grid-cell-inactive': dayOfMonth.month !== firstDayOfActiveMonth.value.month,
            'calendar-grid-cell-today': isToday(dayOfMonth),
            'calendar-grid-cell-current-week': isInCurrentWeek(dayOfMonth),
            'calendar-grid-cell-is-holiday': isHoliday(dayOfMonth)
          }"
          (click)="setActiveDay(dayOfMonth)"
        >
          {{ dayOfMonth.day }}
        </div>
      </div>
    </div>

    <div class="calendar-headline-controls">
      <div class="calendar-headline-control" (click)="goToPreviousWeek()">«</div>
      <div class="selectors">
        <div class="calendar-headline-control">
          <mat-select class="select-months" [(ngModel)]="selectedMonth" (change)="onMonthChange()">
            <mat-option  *ngFor="let month of months" [value]="month.index">{{ month.name }}</mat-option>
          </mat-select>
        </div>
        <div class="calendar-headline-control">
          <mat-select class="select-years" [(ngModel)]="selectedYear" (change)="onYearChange()">
            <mat-option  *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </div>
        <div class="calendar-headline-control">
          <mat-select class="select-weeks" [(ngModel)]="selectedWeek" (change)="onWeekChange()">
            <mat-option  *ngFor="let weekNumber of weeksNumbers" [value]="weekNumber"> Semaine {{ weekNumber }}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="calendar-headline-control" (click)="goToNextWeek()">»</div>
    </div>

  </div>


  <div class="time-sheet mat-elevation-z8">
    <div class="table-container">
    <table mat-table class="mat-elevation-z8">
      <thead >
        <tr >
          <th class="project-col">Projets/Actions</th>
          <th *ngFor="let day of weekDays; trackBy: trackByDate" [class.weekend]="day.isWeekend" [class.today]="day.isToday">
            {{ day.name }}<br>
            {{ formatDate(day.date) }}
          </th>
          <th class="total-col">Total Semaine</th>
          <th class="total-col">Total Année</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let project of projects; trackBy: trackById">
          <!-- Project Row -->
          <tr>
            <td class="project-name" colspan="8">{{ project.name }}</td>
            <td class="total-week"></td>
            <td class="total-year"></td>
          </tr>


          <ng-container *ngFor="let action of project.list_action; trackBy: trackById">
            <tr>
              <td class="action-name" >
                {{ action.name }}
              </td>

              <td *ngFor="let day of weekDays; trackBy: trackByDate">
                <input
                type="number"
                [ngModel]="getTimeEntry(project.id_project, action.id_action, formatApiDate(toLuxonDate(day.date))).hours"
                (ngModelChange)="updateTimeEntry($event, project.id_project, action.id_action, formatApiDate(toLuxonDate(day.date)))"
                [id]="getInputId(project.id_project, action.id_action, day.date)"
                step="0.25"
                max="10"
                min="0"
                [ngClass]="{ 'weekend-input': day.isWeekend || isHoliday(day.date)}"
              >


              </td>
              <td class="total-week">
                {{ calculateWeekTotal(project.id_project, action.id_action) }}
              </td>
              <td class="total-year">
                {{  action.total_duration }}
              </td>
            </tr>
          </ng-container>
        </ng-container>

        <!-- Fixed rows (e.g., Absence, Service, Formation) -->

        <ng-container *ngFor="let project of fixedRows; trackBy: trackById">


          <ng-container *ngFor="let action of project.list_action; trackBy: trackById">
            <tr>
              <td class="fixed-action-name" >
                {{ action.name }}
              </td>

              <td *ngFor="let day of weekDays; trackBy: trackByDate">
                <input
                type="number"
                [ngModel]="getTimeEntry(project.id_project, action.id_action, formatApiDate(toLuxonDate(day.date))).hours"
                (ngModelChange)="updateTimeEntry($event, project.id_project, action.id_action, formatApiDate(toLuxonDate(day.date)))"
                [id]="getInputId(project.id_project, action.id_action, day.date)"
                step="0.25"
                max="10"
                min="0"
                [ngClass]="{ 'weekend-input': day.isWeekend || isHoliday(day.date)}"
              >


              </td>
              <td class="total-week">
                {{ calculateWeekTotal(project.id_project, action.id_action) }}
              </td>
              <td class="total-year">
               {{  action.total_duration }}
              </td>
            </tr>
          </ng-container>
        </ng-container>


        <!-- Totaux quotidiens -->
        <tr class="daily-total-row">
          <td>Total jour</td>
          <td *ngFor="let day of weekDays; trackBy: trackByDate" [class.weekend]="day.isWeekend" [class.today]="day.isToday">
            {{ calculateDayTotal(day.date) }}
          </td>
          <td colspan="2"></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
