<div class="actions-space">
    <div class="actions-container">
      <button mat-elevation-z8 class="add-expense" (click)="createExpense()">
       Ajouter une note de frais
      </button>
    </div>
</div>

<div class="table-container mat-elevation-z8">
    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    
  <ng-container *ngIf="dataSource.data.length > 0; else emptyState">
    <mat-form-field>
      <mat-label>Rechercher</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Saisir..." #input>
    </mat-form-field>
    <div class="table-wrapper">
    <table mat-table
      [dataSource]="dataSource" multiTemplateDataRows matSort>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.start_date.split(' ')[0] }} </td>
      </ng-container>

      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> Code projet </th>
        <td mat-cell *matCellDef="let element"> {{element.project_code }} </td>
      </ng-container>

      <ng-container matColumnDef="purpose">
        <th mat-header-cell *matHeaderCellDef> Objet</th>
        <td mat-cell *matCellDef="let element"> {{element.purpose}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Montant état frais </th>
        <td mat-cell *matCellDef="let element"> {{ element.total_expense | number: '1.2-2' }} €</td>
      </ng-container>

      <ng-container matColumnDef="status" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>Statut de traitement</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline" class="status-select">
            <mat-select 
              [value]="element.status"
              (selectionChange)="updateStatus(element, $event.value)"
              [ngClass]="element.status?.toLowerCase().replace(' ', '-')">
              <mat-option [value]="element.status">{{element.status}}</mat-option>
              <mat-option *ngFor="let status of statusOptions" [value]="status" 
                [hidden]="status === element.status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="status" *ngIf="!isAdmin">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions</th>
        <td mat-cell *matCellDef="let element">
                <mat-icon class="expense-action" style="margin-right: 10px;" (click)="editExpense(element)">edit</mat-icon>
                <mat-icon class="expense-action" (click)="deleteTravelExpense('supprimer ce frais de déplacement', element.id_travel)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                    showFirstLastButtons
                    aria-label="Select page of projects elements"
                    class="sticky-paginator">
    </mat-paginator> -->
    </div>
  </ng-container>


  <ng-template #emptyState>
    <div class="empty-container" *ngIf="!isLoadingResults && !isError">
      <p>Aucune note de frais trouvée.</p>
    </div>
    <div class="empty-container" *ngIf="isError && !isLoadingResults">
      <p>Une erreur est survenue lors de la récupération des notes de frais.</p>
    </div>
  </ng-template>
</div>
