.actions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.25em;
    margin: 0.5em 0 3em;
}

.actions-space {
    height: 7.5em;
    min-height: 7.5em;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}
 
.table-container {
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
    position: relative;
}

.add-expense{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #2f4050;
    background-color: white;
    border-radius: 5px;
}
  
.expense-action{
    cursor: pointer;
    color: #2f4050;
}
  
.sticky-paginator {
    position: sticky; 
    bottom: 0;
    background: white;
    z-index: 2;
    border-top: 1px solid #e0e0e0;
    flex-shrink: 0; 
}
  
table {

    flex-grow: 1;
    width: 100%;
    border-collapse: collapse;
}

.loading-shade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}  

.empty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: 18px;
    font-weight: bold;
    color: #2f4050;
}


tr.element-row:hover {
    background: whitesmoke;
}


.table-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Remplit l'espace disponible */
    overflow: auto;
}

.status-select {
    // Supprimer les bordures et le fond
    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
        margin: 0;
      }
  
      .mat-form-field-flex {
        background-color: transparent;
        padding: 0 !important;
        border: none;
      }
  
      .mat-form-field-underline {
        display: none;
      }
  
      .mat-form-field-outline {
        display: none;
      }
  
      // Supprimer les marges et paddings supplémentaires
      .mat-form-field-infix {
        border: none;
        padding: 0;
      }
    }

    // Styles pour les différents statuts
  ::ng-deep {
    .a-traiter .mat-select-value-text {
      color: #ff9800;
    }
    
    .en-cours .mat-select-value-text {
      color: #2196f3;
    }
    
    .traité .mat-select-value-text {
      color: #4caf50;
    }
    
    .problème .mat-select-value-text {
      color: #f44336;
    }
  }
  
  }
  
  
  // Ajuster la largeur du select
  .mat-column-status {
    .mat-form-field {
      width: 30px;
    }
  }