.actions-container{
  margin-bottom: 6em;
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}

.add-project{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}
  
.sticky-paginator {
  position: sticky;
  bottom: 0;
  background: white; 
  z-index: 2; 
  border-top: 1px solid #e0e0e0; 
}


table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-diagram {
    border: 2px solid black;
    font-weight: lighter;
  }
  
  .element-description-attribution {
    opacity: 0.5;
  }
  

