.actions-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  row-gap: 20px;
  margin: 0.5em 0 5em;
}
.actions-space {
  height: 100px; 
  min-height: 100px; 
}

.toggle-container {
  display: flex;
  align-items: center;
}
.archivedProjects{
  font-size: 16px;
  font-weight: bold;
  color: #2f4050;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
}

.add-project{
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #2f4050;
  background-color: white;
}

.project-action{
  cursor: pointer;
  color: #2f4050;
}
  
.sticky-paginator {
  position: sticky;
  bottom: 0;
  background: white; 
  z-index: 2; 
  border-top: 1px solid #e0e0e0; 
}


table {
    min-height: 500px;
    max-height: 500px;
    width: 100%;
  }

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -80px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-diagram {
    border: 2px solid #2f4050;
    font-weight: lighter;
  }
  
  .element-description-attribution {
    opacity: 0.5;
  }

  .empty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: 18px;
    font-weight: bold;
    color: #2f4050;
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #2f4050; 
  --mdc-switch-selected-handle-color: #2f4050; 
  --mdc-switch-selected-hover-state-layer-color: #2f4050; 
  --mdc-switch-selected-pressed-state-layer-color: #2f4050; 
  --mdc-switch-selected-focus-handle-color: #475a6b; 
  --mdc-switch-selected-hover-handle-color: #475a6b; 
  --mdc-switch-selected-pressed-handle-color: #2f4050; 
  --mdc-switch-selected-focus-track-color: #475a6b; 
  --mdc-switch-selected-hover-track-color: #475a6b; 
  --mdc-switch-selected-pressed-track-color: #475a6b; 
  --mdc-switch-selected-track-color: #475a6b; 
}

