.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  }
  
  .expense-card {
    width: 100%;
    min-height: 250px; 
  }
  
  .form-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  mat-form-field {
    flex: 1;
    min-width: 200px;
  }

  mat-card-title{
    color: #2f4050;
  }

.action-div {
    display: flex;
    justify-content: space-between; 
    padding: 1em;
}

.actions-space {
  height: 5.5em;
  min-height: 5.5em;
}

.bouton-confirm {
  min-width: 116px;
  background-color: #2f4050;
  color: white;
  padding: 0.5em;
  font-size: 16px;
}

.bouton-cancel {
  min-width: 116px;
  background-color: white;
  color: #2f4050;
  padding: 0.5em;
  font-size: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  cursor: pointer;
}

  
  