
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.login-box {
    background-color: #ffffff;
    border-radius: 70px;
    padding: 20px 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    border: 3px solid #2f4050;
    position: relative;
  }

.login-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo-cbna {
    width: 100px;
  }

.horizontal-bar {
    width: 482px;
    height: 3px;
    background-color: #2f4050;
    margin: 2px -454px 21px -42px;
    border: none;
  }
  
.login-form {
    display: flex;
    flex-direction: column;
  }


.form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
.form-group label {
    font-size: 0.9em;
  }
  
.form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.login-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: center;
  }

.login-button {
  padding: 0px;
  background-color: white;
  color: black;
  border: 1px solid #2f4050;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 287px;
  height: 40px;
  justify-content: center;
  display: inline-flex;
  align-items: center;

  }
  
.login-button:hover {
    background-color: #ceac62;
  }

.google-logo {
    width: 23px;
    height: 25px;
    margin-right: 8px;
  }

.OR {
    font-size: 0.9em;
    color: #555;
    margin: 10px 0;
  }
  

  