# GitHub Actions docs
# https://help.github.com/en/articles/about-github-actions
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: Run tests on any Push event

on: [push]

jobs:
  run_tests:
    # Machine environment:
    # https://help.github.com/en/articles/software-in-virtual-environments-for-github-actions#ubuntu-1804-lts
    # We specify the Node.js version manually below, and use versioned Chrome from Puppeteer.
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js 16
        uses: actions/setup-node@v6
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Unit tests
        run: npm run test

      # - name: E2E
      #  run: npm run e2e:ci
